<h1><%= @group.name%>のメンバ一覧</h1>

<h3>グループに参加中のメンバー</h3>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% @members.each do |member|%>
    <tr>
      <th><%= member.name %></th>
    </tr>
  <%end%>
</table>

<h3>グループに未参加のメンバー</h3>